@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import "tailwindcss";

body {
  background-color: #1a202c;
  margin: 0;
  height: 100%;
  color: white;
  font-family: "Afacad Flux", sans-serif;
  font-style: normal;
}